.form {
    width: 600px;
    margin: 40px auto 0;
    text-align: center;
}
.task{
    height: 30px;
    width: 95%;
    padding: 0 10px;
    border: 1px solid green;
    margin-bottom: 10px;
}
.add {
    padding: 0 15px;
    border: none;
    background-color: red;
    color: white;
}